.programs {
  height: 100vh;
}
.programs-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.program {
  width: 350px;
  height: 380px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.programImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.program-info {
  position: absolute;
  top: 0;
  background: linear-gradient(rgba(62, 5, 128, 0.3), rgba(27, 0, 58, 0.5));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--color-text-white);
  padding-top: 70%;
  opacity: 0;
  transition: 0.4s;
}
.program-info img {
  width: 40px;
  margin-bottom: 1rem;
}
.program-info:hover {
  cursor: pointer;
  padding-top: 0;
  opacity: 1;
}
